<module>
	<rawname>voicemail</rawname>
	<name>Voicemail</name>
	<version>1.2.0</version>
	<type>setup</type>
	<category>Messaging</category>
	<location>release//2.2/voicemail-1.1.2.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>6599eb89d79691aa06b06b1179c70cc2</md5sum>
</module>
